* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.nav-container {
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: whitesmoke;
    z-index: 2;
}

.part1 {
    position: absolute;
    width: 100%;
}

.part2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    right: 0px;
}

.body-container {
    max-width: 800px;
}

.futogen-logo {
    width: clamp(150px, 12vw, 300px);
}

.input-name {
    color: green;
    font-weight: 600;
    font-size: 12px;
    margin: 0px;
}

.form-container {
    background-color: var(--lignt-ash);
}

.add-form {
    background-color: var(--lignt-ash);
}

input {
    border: 0px;
    height: 50px;
    width: 100%;
    margin: 0px;
    padding: 5px;
    border-radius: 5px;
}

select:focus {
    outline: none;
    border: 0px;
}

input:focus,
textarea:focus {
    outline: none;
    border: 0px;
}

.total_mark input {
    font-size: 20px;
    font-weight: 650;
    width: 50px;
}

.question-error {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 200px;
}

/* -------------------------------ERROR------------------------- */
.error {
    position: fixed;
    height: 60px;
    width: 300px;
    background-color: rgba(255, 0, 0, 0.229);
    box-shadow: 0px 0px 10px rgb(226, 226, 226);
    top: 100px;
    right: 0px;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.error p {
    font-weight: 800;
}

/* ------------------------------------Plugin-------------------------------- */
.plug-in {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0px;
    opacity: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.447);
    backdrop-filter: blur(3px);
}

.card {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 1;
    padding: 30px;
    width: 300px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card p {
    font-size: 20px;
    font-weight: bolder;
    padding: 5px 10px;
}

.card button {
    scale: 1.1;
}

.card button:active {
    scale: 1.01;
}



/* Question component */
.Qs-container {
    width: 100%;
    overflow-x: scroll;
}

.Qs-container::-webkit-scrollbar {
    display: none;
}

.question_paper {
    font-family: 'Times New Roman', Times, serif;
    width: 210mm;
    min-height: 297mm;
    padding: 15mm;
    margin: auto;
    background: white;
    box-sizing: border-box;
    position: relative;
    z-index: 3;
}

.question-paper-main-container {
    position: relative;
    z-index: 0;
    width: 100%;
    overflow: hidden;
    /* display: none; */
}



.waterMark {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.waterMark img {
    opacity: 0.2;
    width: 650px;
}

.question_paper p {
    font-size: 14px;
    line-height: 1.5;
}

.section {
    width: 100%;
    margin-top: 20px;
    page-break-inside: avoid;
}

.d-p-icon {
    transition: .5s;
}

.d-p-icon:hover {
    cursor: pointer;
}

table,
tr,
td,
th {
    border: 1px solid black;
}

.Buttons {
    width: 210mm;
}

.fotter {
    width: 100%;
    margin-top: auto;
    background-color: gray;
    bottom: 0px;
    position: absolute;
}

.fotter p {
    font-size: 10px;
}

.download-btn {
    padding: 2px 10px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 50%;
    margin: 5px;
    background-color: rgb(255, 255, 255);
    scale: 1.01;
    transition: .5s;

}

.download-btn:active {
    scale: 1;

}

.download-btn:hover {
    transform: translateY(-2px);
}

/* ------------------------------------------ADD QUESTION--------------------------------------- */
.box {
    background-color: var(--lignt-ash);
}

/* -------------------------------VIEW ALL QUESTION------------------------------ */
.view-body {
    z-index: 1;
    background-color: var(--lignt-ash);
}

.conform-delete {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    backdrop-filter: blur(3px);
    z-index: 3;
}

.question-body {
    min-width: 700px;
}

.question-container::-webkit-scrollbar {
    display: none;
}

.part-1 {
    width: 100%;
}

.part-2,
.part-3,
.part-4,
.part-5 {
    width: 250px;
}

.question-block,
.search-block {
    background-color: var(--question-bg);
}

.question-block {
    transition: .5s;
}

.question-block:hover {
    transform: translateY(-5px);
}

.diffi-level {
    font-weight: 600;
    font-size: 13px;
    padding: 2px 10px;
    border-radius: 20px;
    width: max-content;
    display: flex;
    align-items: center;
}

.dot {
    margin: 0px 2px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.icon-hover:hover {
    cursor: pointer;
}

.edit-question {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin: auto; */
}

.mark {
    font-size: 12px;
    font-weight: 600;
    width: max-content;
    background-color: rgba(189, 189, 189, 0.69);
}

.edit-pop-up {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d4f8e0;
    color: #1E8E3E;
    /* padding: 20px; */
    z-index: 5;
    width: 200px;
    height: 50px;
}

.edit-pop-up p {
    font-size: 20px;
    font-weight: 700;
}

@media screen and (max-width:800px) {}

@media screen and (min-width:799px) {
    .box {
        width: 750px;
    }

    .view-body {
        margin: 50px;
    }
}

@media print {
    body {
        margin: 0;
        padding: 0;
    }

    .question_paper {
        width: 210mm;
        height: 297mm;
        padding: 15mm;
    }
}